body {
    font-family: Arial, sans-serif;
    background-image: url('bckgrd.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
    position: relative;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #34495e;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}

button {
    background-color: #f90;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #e80;
}

.terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.terms label {
    margin-left: 5px;
    font-size: 0.9em;
}

.form-container::before {
    content: '';
    background-image: url('triangles.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}

.form-container::after {
    content: '';
    background-image: url('pinpt.png');
    position: absolute;
    top: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    z-index: 1;
}